footer{
    background-color: #343434;
    width: 1366px;
    height: 96px;
}
footer p{
    color: #DCE1DA;
    font-family: 'Roboto', sans-serif; 
    font-size: 16px;
    letter-spacing: 0.22px;
    line-height: 28px;
    display: flex;
    position: absolute;
    margin: 38px 0px 37px 101px;
}
footer img{
    margin:38px 101px 38px 1179px;
    width: 86px;
    height: 20px;
}